# 카카오 주가(2022-10-15 ~ 2022-11-05)

라이브러리 import

In [2]:
import FinanceDataReader as fdr
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

주가 및 지수 수집

In [3]:
KOSPI = fdr.StockListing("KOSPI")
KOSPI

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,61500,1,1100,1.82,60500,61500,60400,12808490,781937546636,367141626825000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,456000,2,-2000,-0.44,458000,463000,448000,271694,123204255120,106704000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,85500,1,400,0.47,84000,85800,84000,1674834,142678369200,62244202207500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,801000,1,8000,1.01,793000,802000,789000,38067,30400503000,57010374000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,55500,1,700,1.28,54800,55500,54600,701497,38683447300,45670211850000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,002785,KR7002781003,진흥기업우B,KOSPI,,4975,1,5,0.10,5020,5020,4970,507,2522950,4264659550,857218,STK
939,001527,KR7001522002,동양2우B,KOSPI,,13100,2,-100,-0.76,13700,13700,13100,1001,13119300,4042253900,308569,STK
940,001525,KR7001521004,동양우,KOSPI,,6540,2,-10,-0.15,6480,6550,6480,1327,8662670,4039960740,617731,STK
941,002787,KR7002782001,진흥기업2우B,KOSPI,,13350,1,50,0.38,12900,13350,12900,353,4600850,3935686800,294808,STK
942,000547,KR7000542001,흥국화재2우B,KOSPI,,20700,2,-700,-3.27,20700,21000,19800,5653,115013300,3179520000,153600,STK

In [4]:
KOSPI[(KOSPI["Name"] == "카카오") | (KOSPI["Name"] == "SPC삼립")][["Code", "Name"]]

       Code   Name
9    035720    카카오
269  005610  SPC삼립

In [5]:
Kakao = fdr.DataReader('035720', "2022-10-15", "2022-11-06")[["Open", "High", "Low", "Close"]].reset_index()
Kakao.head()

        Date   Open   High    Low  Close
0 2022-10-17  48000  49150  46500  48350
1 2022-10-18  48900  50200  48400  49400
2 2022-10-19  49800  52200  49400  49800
3 2022-10-20  49800  49800  47300  47750
4 2022-10-21  47650  49650  47050  48850

In [6]:
# KOSPIINDEX = fdr.DataReader("KS11", "2022-10-15", "2022-11-06")[["Close"]].reset_index()
# KOSPIINDEX.tail()

코스피 지수 보정

In [7]:
# Scaler = MinMaxScaler()
# KOSPIINDEX_Scaled = Scaler.fit_transform(KOSPIINDEX[["Close"]])
# KOSPIINDEX_Scaled

Kakao Data Labeling

In [8]:
RFR = 0.000082 # 2022-10-15 ~ 2022-11-05 간 무위험수익률을 일별로 계산한 값
Kakao["Signal"] = 0
Kakao

         Date   Open   High    Low  Close  Signal
0  2022-10-17  48000  49150  46500  48350       0
1  2022-10-18  48900  50200  48400  49400       0
2  2022-10-19  49800  52200  49400  49800       0
3  2022-10-20  49800  49800  47300  47750       0
4  2022-10-21  47650  49650  47050  48850       0
5  2022-10-24  50000  50600  48300  48450       0
6  2022-10-25  48800  49550  48550  48800       0
7  2022-10-26  48950  48950  47650  47700       0
8  2022-10-27  47700  48850  47200  48750       0
9  2022-10-28  48200  49450  47800  48750       0
10 2022-10-31  49600  50700  48700  50700       0
11 2022-11-01  50400  50800  49650  50700       0
12 2022-11-02  50100  53100  49700  52300       0
13 2022-11-03  50800  51200  49700  50100       0
14 2022-11-04  49500  50600  48950  50300       0

In [9]:
Kakao.describe()

               Open          High           Low         Close  Signal
count     15.000000     15.000000     15.000000     15.000000    15.0
mean   49213.333333  50320.000000  48323.333333  49380.000000     0.0
std      993.634502   1196.990273   1044.862716   1264.035488     0.0
min    47650.000000  48850.000000  46500.000000  47700.000000     0.0
25%    48500.000000  49500.000000  47475.000000  48600.000000     0.0
50%    49500.000000  50200.000000  48400.000000  48850.000000     0.0
75%    49900.000000  50750.000000  49175.000000  50200.000000     0.0
max    50800.000000  53100.000000  49700.000000  52300.000000     0.0

In [10]:
# for i, instance in Kakao.iterrows():
#     if instance["Close"] > instance["Open"]:
#         Kakao.loc[i, "Signal"] = 1
# Kakao

In [11]:
try:
    for i in Kakao.index:
        if Kakao.loc[i, "Close"] * (1+RFR) < Kakao.loc[i+1, "Close"]: # 종가 기준 일별 수익률 부호에 따라 매도: 0, 매수: 1
            Kakao.loc[i, "Signal"] = 1
except KeyError:
    pass
Kakao

         Date   Open   High    Low  Close  Signal
0  2022-10-17  48000  49150  46500  48350       1
1  2022-10-18  48900  50200  48400  49400       1
2  2022-10-19  49800  52200  49400  49800       0
3  2022-10-20  49800  49800  47300  47750       1
4  2022-10-21  47650  49650  47050  48850       0
5  2022-10-24  50000  50600  48300  48450       1
6  2022-10-25  48800  49550  48550  48800       0
7  2022-10-26  48950  48950  47650  47700       1
8  2022-10-27  47700  48850  47200  48750       0
9  2022-10-28  48200  49450  47800  48750       1
10 2022-10-31  49600  50700  48700  50700       0
11 2022-11-01  50400  50800  49650  50700       1
12 2022-11-02  50100  53100  49700  52300       0
13 2022-11-03  50800  51200  49700  50100       1
14 2022-11-04  49500  50600  48950  50300       0

In [12]:
Kakao.to_csv("Kakaotest1.csv")